:root {
    --primary-color: #2a9d8f; 
    --text-color: #264653; 
    --light-color: #BAE2DF; 
    --dark-color: #1A6862; 
}

/* General styles */
body {
    font-family: 'Lato', Arial, sans-serif; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%; 
    box-sizing: border-box;
    background-color: var(--primary-color); 
}

main {
  background-color: var(--primary-color); 
  }


h1 {
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  color: var(--dark-color);
}

h3 {
  color: var(--dark-color);
}

html {
  overflow-x: hidden; 
}
* {
  box-sizing: border-box; 
}

/* Header Container */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    height: 100px;
    box-sizing: border-box;
}

/* Logo */
.logo img {
    max-height: 85px; 
    width: auto; 
    object-fit: contain;
}

/* Slogan Styling */
.header-slogan {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem; 
    color: var(--light-color); 
    margin: 10px;
    text-align: center; 
    letter-spacing: 0.1em; 
  }
  

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin-right: 1rem;
}

.nav-links a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover,
.nav-links a:focus {
    text-decoration: underline; 
}

.nav-links a.active,
.footer-nav a.active {
    color: var(--primary-color); /* Eller en annen fremhevet farge */
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.3s ease;
    background-color: var(--light-color);
    border-radius: 5px;
}


/* Responsive Design header*/
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        height: auto;
        padding-inline-start : 0px;
    }

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--light-color); 
  font-size: 1.5rem; 
  font-weight: normal;
}

    .logo img {
        width: auto;
    }
}

/* Bottom Section */
.bottom-section {
  height: 300px; 
  overflow: hidden; 
  position: relative;
}

.scroll-container {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; 
}

.scroll-container::-webkit-scrollbar {
  display: none; 
}

.scroll-container {
  scrollbar-width: none; 
}


.scroll-container img {
  height: auto;
  width: 100%; 
  object-fit: cover; 
}


/* Footer styles */
.footer-container {
  display: flex;
  justify-content: space-between; /* Logoen til venstre, navigasjonslenker + sosiale lenker til høyre */
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  gap: 1rem;
  flex-wrap: wrap; /* Responsiv oppførsel */
}

.footer-logo img {
  max-height: 60px;
  width: auto;
}

.footer-links {
  display: flex;
  justify-content: flex-end; /* Flytter alt til høyre */
  align-items: center; /* Vertikal justering */
  gap: 2rem; /* Avstand mellom navigasjon og sosiale lenker */
}

.footer-nav {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.footer-nav a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 1rem;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links a {
  color: var(--light-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.social-links a:hover {
  color: var(--dark-color);
}

.footer-container p {
  margin: 0;
  font-size: 1rem;
  width: 100%; /* Sørger for at copyright-teksten er sentrert */
  text-align: center;
  color: var(--light-color);
}




/* Responsive design for small screens */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
     
  }

 .social-links a {
      font-size: 2rem;
  }

  .footer-nav a {
      font-size: 1.5rem;
  }

  .footer-logo img {
    max-height: 70px;
  }

  .footer-links {
    flex-direction: column; /* Stabler navigasjon og sosiale lenker vertikalt */
    align-items: center; /* Sentraliserer dem */
    gap: 2rem; /* Reduserer avstanden */
}

.footer-nav {
    justify-content: center; /* Sentraliserer navigasjonslenker */
    gap: 1rem;
}

.social-links {
    justify-content: center; /* Sentraliserer sosiale lenker */
    gap: 2rem;
}
}
  





/* Intro Section */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  padding: 2rem;
  background-color: var(--light-color);
  max-height: 600px;
  gap: 2rem;

   
}

.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  width: 100%;
  gap: 2rem;
  max-width: 1200px; 
  margin: 0 auto; 
  width: 100%; 
  box-sizing: border-box; 

}

.intro-content img {
  width: 40%; 
  aspect-ratio: 2 / 3; 
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.intro-content p {
  flex: 1; 
  text-align: center;
  font-size: 1.5rem;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  background: var(--light-color);
  padding: 2rem;

}

.intro-text p {
  font-size: 1.5rem;
  max-width: 1200px; 
  margin: 0 auto; 
  text-align: center;
}
  /* Responsive Design intro */

@media (max-width: 768px) {
  .intro {
    flex-direction: column; 
    align-items: center; 
    padding: 0rem; 
    max-height: none;
  }

  .intro-content {
    flex-direction: column; 
    align-items: center; 
    gap: 0rem;
}

  .intro-content img {
    width: 75%; 
    border-radius: 0%;

  }

  .intro-content p {
    width: auto; 
    height: 100%;
    margin: 0%;
    border-radius: 0%;
    margin-bottom: 20px;
  }

  .intro-content img:last-of-type {
    display: none; 
  }

}


/* Latest Blog Posts Carousel */

.latest-blog-posts {
  text-align: center;
  padding: 2rem 1rem; 
  background-color: var(--dark-color);
  color: var(--light-color);
  position: relative;
}

.carousel-heading {
  text-align: center; 
  font-size: 1.8rem; 
  color: var(--light-color); 
  margin-bottom: 20px; 
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 2rem;
  max-width: 1200px; 
    margin: 0 auto; 
    overflow: hidden; 
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  position: relative;
}

.carousel-item {
  flex: 0 0 calc(100% / 3); 
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.carousel-link {
  text-decoration: none; 
  color: inherit; 
}

.carousel-link:hover .carousel-title {
  text-decoration: underline; 
}

.carousel-image {
  width: 100%; 
  aspect-ratio: 3 / 2; 
  object-fit: cover; 
  border-radius: 10px;
}

.carousel-title {
  font-size: 1rem;
  color: var(--light-color);
  margin: 10px 0;
  transition: color 0.3s; 
}

.carousel-title:hover {
  color: var(--primary-color); 
}


.carousel-btn {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  height: auto;
  width: auto;
}

.carousel-btn:hover {
  background-color: var(--primary-color); 
  color: var(--light-color); 
}

.carousel-btn.left {
  left: 0px; 
}

.carousel-btn.right {
  right: 0px; 
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.carousel-dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #264653;
}

.view-all-link {
  text-align: center;
  margin-top: 30px; 
  margin-bottom: 30px;
}

.view-all-link a {
  font-size: 1.2rem;
  color: var(--light-color);
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.view-all-link a:hover {
  background-color: var(--primary-color);
  color: var(--light-color); 
  text-decoration: none;
}


/* Responsive Design carousel */
@media (max-width: 768px) {
  
  .latest-blog-posts {
    padding: 1rem; 
  }

  .carousel {
    max-height: auto; 
  }

  .carousel-item {
    flex: 0 0 100%; 
    padding: 0.5rem; 
  }

  .carousel-title {
    font-size: 1rem; 
    margin-top: 0.5rem; 
  }

  .carousel-dots {
    margin-top: 1rem; 
  }


}
/* About Me Section */
.about-me-content {
  display: flex;
  align-items: stretch; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  border-radius: 10px; 
  overflow: hidden; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-me-text {
  flex: 1; 
  background-color: var(--light-color); 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  color: var(--text-color);
  font-size: 1.2rem;
}

.about-me-text h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--dark-color);
  text-align: center;
}

.about-me-image {
  flex: 1; 
}

.about-me-image img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

/* Responsiv Design */
@media (max-width: 768px) {
  .about-me-content {
    flex-direction: column; 
    border-radius: 0%;
  }

  .about-me-text {
    padding: 1.5rem; 
  }

  .about-me-image img {
    height: auto; 
  }
}


/* Contact Section */

.contact-header {
  background-color: var(--primary-color);
  padding: 1rem;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 2rem auto;
  max-width: 1200px;
  gap: 2rem;
  background-color: var(--primary-color);
  padding: 2rem;

}

.info-box,
.form-box {
  background-color: var(--light-color);
  border-radius: 20px;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow: hidden;
  
}
.info-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.info-box h2,
.form-box h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center; 
  color: var(--dark-color);
  padding: 2rem;
  margin-bottom: 0; 
  padding-bottom: 0;
}

.info-box img {
  margin-top: auto; 
  width: 100%;
  height: auto; 
  object-fit: cover; 
  border-radius: 0 0 20px 20px; 
}
.info-box h2, p {
  color: var(--dark-color);
}

.info-box p {
  padding: 2rem;
}

.form-box h2, label {
  color: var(--dark-color);
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center; 
  padding: 2rem;
}

.form-box form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start; 
  padding: 2rem;
}

form label {
  margin-top: 1rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

form button {
  margin-top: 1rem;
}

input,
textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 120px;
}

button {
  background-color: #264653;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem; 
}

button:hover {
  background-color: #1A6862;
}

#error-messages {
  margin-top: 1rem;
  color: var(--dark-color);
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 0rem;
    gap: 0rem;
  }

  .info-box,
  .form-box {
    width: 100%;
  margin: 0 0; 
  border-radius: 0px;
  }

  .info-box img {
    height: 200px; 
    border-radius: 0px;
  }

}

/* Blog posts overview */
.blog-overview {
  padding: 2rem;
  background-color: var(--primary-color);
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.blog-overview-top {
  background-color: var(--light-color) ;
  
}

.blog-overview-top h1 {
padding-top: 1rem;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.filters button {
  padding: 0.5rem 1rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.filters button:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.filters button.active {
  background-color: var(--primary-color); /* Bruk en variabel eller en fast farge */
  color: white;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-weight: bold;
  transform: scale(1.05);
  transition: all 0.2s ease;
}


.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: var(--dark-color);
  padding: 1rem;
}



.blog-post {
  background-color: var(--light-color);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.blog-overview .blog-post:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.blog-post-page .blog-post:hover {
  transform: none; 
  box-shadow: none;
}


.blog-post img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 50% 25%;
}

.blog-post h2 {
  font-size: 1rem;
  color: var(--dark-color);
  padding: 0.5rem;
}

.load-more {
  margin: 20px auto;
  padding: 0.7rem 2rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  
}

.load-more:hover {
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .blog-overview {
    padding: 0%;  
  }
}


/* Blog page */
.blog-post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-post-container img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 20px auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-content {
  text-align: left;
}

.blog-post h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  color: var(--primary-color);
}

/* Comments Section */
#comments-section {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--light-color);
  border-radius: 8px;
}

#comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#comment-form input,
#comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}

#comment-form button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#comments-list {
 padding: 2rem;
}

#comments-list ul {
  list-style-type: none;
  padding: 0;
}

#comments-list li {
  background: #DDF6F5;
  margin-top: 10px;
  padding: 2rem;
  border-radius: 5px;
}

.comment-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-section h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.comment-section input,
.comment-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  font-size: 1rem;
}

.comment-section button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-section button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.comment-section ul {
  list-style: none;
  padding: 0;
}

.comment-section li {
  margin-bottom: 10px;
  padding: 10px;
  background: var(--light-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.adjacent-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.adjacent-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

.adjacent-links a:hover {
  color: var(--dark-color);
}


/* Modal styles */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.modal.active {
  display: flex;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background: var(--text-color);
  object-fit: contain;
}

.modal img {
  display: block;
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 90%;
  margin: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
    .blog-image {
        width: 100vw; /* Fyll hele skjermbredden */
        margin: 0; /* Fjern marginer */
    }

    .blog-post-container img { 
        max-width: 100%; /* Fyll hele skjermbredden */
        margin: 0px;
        padding: 0px;
        border-radius: 0%;
}
}