<footer>
  <div class="footer-container">
      <div class="footer-logo">
        <a href="/" class="logo">
          <img src="images/logo.png" alt="Into the Woods Logo">
        </a>
      </div>

      <div class="footer-links">
      <ul class="footer-nav">
          <li><a href="blog-overview.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
      </ul>
      <ul class="social-links">
          <li><a href="https://www.facebook.com/groups/203955363006934" target="_blank">
                  <i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.instagram.com/belgerdio/" target="_blank">
                  <i class="fab fa-instagram"></i></a></li>
      </ul>
      </div>
      <p>© 2025 Into the Woods</p>
  </div>
</footer>
