<footer>
    <div class="footer-container">
      <p>© 2025 Into the Woods</p>
      <ul class="social-links">
        <li><a href="#"><img src="images/facebook-icon.png" alt="Facebook"></a></li>
        <li><a href="#"><img src="images/instagram-icon.png" alt="Instagram"></a></li>
      </ul>
      <nav>
        <ul class="footer-nav">
          <li><a href="blog-overview.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  